*{
    background-color: black;
    color: white;
    margin: 0px;
    padding: 0px;
}

html, body{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container{
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid white;
    border-radius: 10px;    
}

#output{
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid white;
    border-radius: 10px;
}

#messages{
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}

#send{
    height: 20%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(110, 110, 202);
    border-radius: 10px;
    padding: 12px;
    cursor: pointer;
}   
