version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: backend-postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgrespass
      POSTGRES_DB: hivemind
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
